.toolLogin
  margin-top 100px!important
  border-radius 2px

.toolLogin div img
  margin-left 10px!important

div.checkbox.loge
  margin-left 8.5px!important
  color #777777

.checkbox__label.logch
  padding-left 52px!important
  font-weight 100!important

.topLogin
   height 50px
   background-color #00BCD4
   margin-bottom 10%
   box-shadow 0 1px 2px rgba(0, 0, 0, 0.3)


 md-content
  padding 0!important
  background-color white

.log
  font-size 50px!important
  color #F6F6F6

/*md-content.cont
  background-image url("../assets/images/log.jpg")!important*/
