<div layout="row" layout-wrap>
  <div flex>
    <md-card >
       <md-card-content >
          <div class="radio-group">
            <div flex-container="row" flex-gutter="24">
              <!-- Activo propio-->
              <div flex-item>
                <div class="radio-button">
                    <input ng-model="NA.f.r" type="radio" id="radio1" name="radio1" value="P" class="radio-button__input" checked="true">
                    <label for="radio1" class="radio-button__label">Activo propio</label>
                    <span class="radio-button__help">En caso que sea un activo propio y se encuntre situado en alguna sede.</span>
                </div>
              </div>
              <!-- Activo Cliente-->
              <div flex-item>
                <div class="radio-button">
                    <input ng-model="NA.f.r" type="radio" id="radio2" name="radio1" value="C" class="radio-button__input">
                    <label for="radio2" class="radio-button__label">Activo cliente</label>
                    <span class="radio-button__help">En caso que el proietario del activo sea el cliente.</span>
                </div>
              </div>
              <!-- BODEGA -->
              <div flex-item>
                <div class="radio-button">
                    <input ng-model="NA.f.r" type="radio" id="radio3" name="radio1" value="B" class="radio-button__input">
                    <label for="radio3" class="radio-button__label">En bodega</label>
                    <span class="radio-button__help">En caso que el activo se encuentre en bodega o laboratorio y sea propio.</span>
                </div>
              </div>
            </div>
          </div>

        <!--DATOS COMUNES DINAMICOS SEGUN DETALLES -->
        <div flex-container="row" flex-gutter="24" ng-if="NA.f.r !== 'B'">
            <!-- SEDE -->
            <div flex-item>
              <lx-select ng-model="NA.f.cliente" placeholder="Cliente" change="openArea(newValue,oldValue)" choices="sel.sede"  floating-label>
                  <lx-select-selected>
                      {{ $selected.nombre }}
                  </lx-select-selected>
                  <lx-select-choices>
                      {{ $choice.nombre }}
                  </lx-select-choices>
              </lx-select>
            </div>
            <!-- area -->
            <div flex-item>
              <lx-select ng-model="NA.f.area" placeholder="Area" choices="sel.area" floating-label>
                  <lx-select-selected>
                      {{ $selected.nombre_area }}
                  </lx-select-selected>
                  <lx-select-choices>
                      {{ $choice.nombre_area }}
                  </lx-select-choices>
              </lx-select>
            </div>
        </div>
        <!-- SIEMPRE VISIBLES -->
        <!-- Tipo de activo -->
        <div flex-item>
          <lx-select ng-model="NA.f.tipoA" placeholder="Tipo de activo" change="openSpecs(newValue,oldValue)" choices="sel.tipoA"  floating-label>
              <lx-select-selected>
                  {{ $selected.nombre_tipo_activo }}
              </lx-select-selected>
              <lx-select-choices>
                  {{ $choice.nombre_tipo_activo }}
              </lx-select-choices>
          </lx-select>
        </div>
        <div flex-container="row" flex-gutter="24">
          <!-- Marca -->
          <div flex-item>
            <lx-text-field label="Marca" >
              <input type="text" ng-model="NA.f.marca">
            </lx-text-field>
          </div>
          <!-- Modelo -->
          <div flex-item>
            <lx-text-field label="Modelo" >
              <input type="text" ng-model="NA.f.modelo">
            </lx-text-field>
          </div>
          <!-- Serial -->
          <div flex-item>
            <lx-text-field label="Serial" >
              <input type="text" ng-model="NA.f.serial">
            </lx-text-field>
          </div>
        </div>
        <div flex-container="row" flex-gutter="24" ng-if="NA.f.r !== 'C' ">
          <!-- Placa inventario  -->
          <div flex-item>
            <lx-text-field label="Placa de invetario" >
              <input type="text" ng-model="NA.f.placaInv">
            </lx-text-field>
          </div>
          <!-- Placa de seguridad -->
          <div flex-item>
            <lx-text-field label="Placa de seguridad" >
              <input type="text" ng-model="NA.f.placaSeg">
            </lx-text-field>
          </div>
        </div>
        <div flex-container="row" flex-gutter="24" >
           <div flex-item ng-repeat="esp in NA.arrEsp">
             <lx-text-field label="{{esp}}" >
               <input type="text" ng-model="NA.arrEsp.texto[$index]">
             </lx-text-field>
           </div>
        </div>
       </md-card-content>
       <div class="md-actions p++" layout="row" layout-align="end center">
         <button class="btn btn--m btn--blue btn--flat" ng-click="newActive()" lx-ripple >+ Nuevo activo</button>
       </div>
     </md-card>
  </div>
</div>
