<div layout="row" flex class="mort">
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >
    <!--<img src="assets/images/nix23.svg" alt="" class="" />-->
    <md-toolbar  class="toogle-menu-nix" layout-align="start center">
      <div class="sidebar-left-logo cursor" ng-click="index()" >
          <img ng-src="assets/images/nix23.svg" alt="Nix" width="36px" src="assets/images/nix23.svg">
      </div>
      <h3 flex="" class="sidebar-left-title title ng-binding" >NIX</h3>
    </md-toolbar>
    <md-content layout="column" flex class="sider-content">
      <ul>
        <li ng-repeat="head in menuHeads">
          <a ng-if="head.url" ui-sref="{{head.url}}">
            <md-button  class="md-raised md-primary side-menu-link " ng-click="head.sh = !head.sh">
              <i class="iconMenu mdi mdi-{{head.icon}}"></i>
              {{head.title}}
            </md-button>
          </a>
          <md-button ng-if="!head.url" class="md-raised md-primary side-menu-link " ng-click="head.sh = !head.sh">
            <i class="iconMenu mdi mdi-{{head.icon}}"></i>
            {{head.title}}
          </md-button>
          <ul class="fadein" ng-show="head.sh === true">
            <li ng-repeat="item in head.menuItems">
              <a ui-sref="{{item.url}}" >
                <md-button class="md-raised md-primary side-menu-link sub"  >
                  {{item.title}}
                </md-button>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </md-content>
  </md-sidenav>
    <div layout="column" flex id="content">
        <md-toolbar layout="row" class="ToolUp md-whiteframe-z2" ng-hide="Mode">
            <div class="md-toolbar-tools">
              <button class="btn btn--l btn--blue btn--icon" lx-tooltip="Menu"
                      tooltip-position="bottom" lx-ripple ng-click="toggleLeft()"
                      hide-gt-md>
                <i class="mdi mdi-menu"></i>
              </button>
              <h2 hide-sm >
                <span>{{tit}}</span>
              </h2>
              <span flex></span>
              <div class="btnTool">
                <button class="btn btn--m btn--blue btn--icon" lx-tooltip="Configuración" tooltip-position="bottom" lx-ripple><i class="mdi mdi-settings"></i></button>
                <button class="btn btn--m btn--blue btn--icon" lx-tooltip="Cerrar sesión" ng-click="closeSession()" tooltip-position="bottom" lx-ripple><i class="mdi mdi-power"></i></button>
                <button class="btn btn--m btn--blue btn--flat" lx-tooltip="Perfil" tooltip-position="bottom" lx-ripple>{{per}}</button>
              </div>
            </div>
        </md-toolbar>
        <md-content style="overflow-x:hidden;" layout="column" flex layout-padding>
          <div ui-view=""></div>
        </md-content>
    </div>
</div>
