<div layout="row" layout-wrap>
  <!-- -->
  <div flex>
    <md-card class="blue">
      <md-content layout="row" layout-align="space-between center" layout-padding >
         <div class="layout-column flex p++">
           <h3 class="md-subhead">Tickets nuevos</h3>
           <p class="md-body-1">Ver detalles</p>
         </div>
         <div class="p++">
          <h1>34</h1>
           <!-- -->
         </div>
      </md-content>
    </md-card>
  </div>
  <!-- -->
  <div flex>
    <md-card class="purple">
      <md-content layout="row" layout-align="space-between center" layout-padding >
         <div class="layout-column flex p++">
           <h3 class="md-subhead">Tickets en proceso...</h3>
           <p class="md-body-1">Ver detalles</p>
         </div>
         <div class="p++">
          <h1>34</h1>
           <!-- -->
         </div>
      </md-content>
    </md-card>
  </div>
  <!-- -->
  <div flex>
    <md-card class="blue">
      <md-content layout="row" layout-align="space-between center" layout-padding >
         <div class="layout-column flex p++">
           <h3 class="md-subhead">Tickets pendientes por cierre...</h3>
           <p class="md-body-1">Ver detalles</p>
         </div>
         <div class="p++">
          <h1>34</h1>
           <!-- -->
         </div>
      </md-content>
    </md-card>
  </div>
</div>
<div layout="row"  layout-wrap>
  <div flex>
    <md-card >
       <md-content layout="row" layout-align="space-between center" layout-padding >
          <div class="layout-column flex p++">
            <h3 class="md-subhead">Total tickets creados</h3>
            <p class="md-body-1">{{}}</p>
          </div>
          <div class="p++">
            <md-button aria-label="Open demo menu" class="md-icon-button" >
              <i class="fa fa-filter"></i>
            </md-button>
            <!-- -->
          </div>
       </md-content>
       <md-card-content >
         <canvas id="line" class="chart chart-line" chart-data="MC.TTG.data"
          chart-labels="MC.TTG.labels"chart-series="MC.TTG.series"
          chart-click="MC.TTG.onClick" >
        </canvas>
        <br>
       </md-card-content>
     </md-card>
  </div>
  <!-- -->
  <div flex>
    <md-card >
       <md-content layout="row" layout-align="space-between center" layout-padding >
          <div class="layout-column flex p++">
            <h3 class="md-subhead">Total tickets cerrados</h3>
            <p class="md-body-1">{{}}</p>
          </div>
          <div class="p++">
            <md-button aria-label="Open demo menu" class="md-icon-button" >
              <i class="fa fa-filter"></i>
            </md-button>
            <!-- -->
          </div>
       </md-content>
       <md-card-content >
         <canvas id="line" class="chart chart-line" chart-data="MC.TTG.data"
          chart-labels="MC.TTG.labels"chart-series="MC.TTG.series"
          chart-click="MC.TTG.onClick" >
        </canvas>
        <br>
       </md-card-content>
     </md-card>
  </div>
</div>

<div layout="row" >
  <div flex>
    <md-card >
       <md-content layout="row" layout-align="space-between center" layout-padding >
          <div class="layout-column flex p++">
            <h3 class="md-subhead">Estado de ticket por tecnico</h3>
            <p class="md-body-1">11/03/15 - 11/4/15</p>
          </div>
          <div class="p++">
            <md-menu>
              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <i class="fa fa-filter"></i>
              </md-button>
              <md-menu-content width="6">
                <md-menu-item ng-repeat="item in [1, 2, 3]">
                  <md-button ng-click="ctrl.announceClick($index)">
                    Option {{item}}
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
       </md-content>
       <md-card-content >
         <canvas id="line" class="chart chart-stacked-bar"
          chart-data="MC.CTET.data" chart-labels="MC.CTET.labels"
          chart-series="MC.CTET.series" chart-colours="MC.CTET.color"
          chart-legend="true" chart-click="MC.CTET.onClick" >
        </canvas>
        <br>
       </md-card-content>
     </md-card>
  </div>
</div>
