<md-card>
  <md-card-content></md-card-content>
</md-card>
<table dt-instance="dtInstance" datatable=""  dt-options="option" dt-columns="dtColumns" class="row-border hover">
   <tfoot>
     <tr>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
       <th></th>
     </tr>
   </tfoot>
</table>
